@charset "utf-8";
/* @media screen and (min-width:768px) */
/* @media screen and (min-width:960px) */
/*指定フォントは下記対応のこと
font-family: 'Zen Kaku Gothic New', sans-serif; */
/* 共通基本ルール
余白：4倍数
PCコンテンツ幅：1200px
font: Zen Kaku Gothic New
font-size: ベースSP12px　PC20px
                 4の倍数
見出しfont-size: SP→24,12px,PC→48.24px
ＳＰ幅:375px 
PC幅:1366px */
.nisemono {
    /*カラーコードを表示するために使わないclassを指定してます。*/
    color: #007AB7;
    color: #6CBAD8;
    color: #000000;
    color: #FFFFFF;
    color: rgb(0, 122, 183,0.9);/*007AB7の90％*/
    color: rgb(237, 161, 132,0.2);/*EDA184の20％*/
    color: rgb(100, 201, 155,0.2);/*64C99Bの20%*/
    color: #F4F4F4;
    color: rgb(0, 0, 0,0.25);/*000000の25%*/
    color: #8F8F8F;
}
/* ボディー全体に有効 */
body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    width:375px;
}
@media screen and (min-width:768px) {
    body {
        width: 100%;
        margin: 0 auto;
    }
}
@media screen and (min-width:960px) {
    body {
        width: 1366px;
        margin: 0 auto;
    }
}
/* ボディーここまで */
/* ヘッダー */
/*トップエリアの背景ありエリアまで*/
.toparea {
    width: 375px;
    height: 677px;
    background: url(../images/tainanHero.png);
    background-repeat: no-repeat;
    background-size: 375px auto;
    text-align: center;
    position: relative;
}
.logoType {
    position: absolute;
    top: 8px;
    left: 20px;
    text-align: center;
}
.tainanLogo {
    position: absolute;
    top: 120px;
    left: 88px;
    text-align: center;
    z-index: 10;
}
.tainanLogo img {
    width: 199px;
}
.hiroText {
    font-size: 12px;
    color: #ffffff;
    width: 248px;
    height: 54.6px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: left;
}
/* ハンバーガーメニュー */
header nav {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    display: none;
    width: 225px;
    height: 667px;
    background: #000000;
    opacity: 0.7;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    z-index: 80;
/* スライドメニュー*/
    display: block;
    right: -100%;
    transition: right .5s;
    text-align: center;
/* ここまで */
}
header nav .liMenu {
    font-size: 24px;
}
.liMenu {
    margin: 0 0 60px 0;
}
.li40 {
    margin: 0 0 40px 0;
}
.li20 {
    margin: 0 0 20px 0;
}
/* スライドメニュー*/
header nav.spOpen {
    right: 0;
}
/* ここまで */
.navLogo {
    position: absolute;
    top: 8px;
    left: 12px;
}
.navLogo img{
    width: 101px;
    height: 40px;
}
header nav ul {
    position: absolute;
    top: 132px;
    right: 23px;
}
header nav ul li a {
    display: block;
    border-radius: 5px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}
#drawerToggle {
    z-index: 200;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
}
#drawerToggle span {
    position: absolute;
    top: 29px;
    left: 14px;
    display: inline-block;
    width: 35px;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    vertical-align: top;
}
#drawerToggle.open span:nth-child(2) {
    margin-top: 10px;
}
#drawerToggle.open span:last-child {
    margin-top: 20px;
}
#drawerToggle.spOpen span:first-child {
    transform: rotate(45deg);
}
#drawerToggle.spOpen span:nth-child(2) {
    transform: rotate(-45deg);
}
#drawerToggle.spOpen span:last-child {
    display: none;
}
/* ここまで */

/* SNSlogo配置 */
header .snsLogo {
    position: absolute;
    top:460px;
    left: 20px;
}
header .snsLogo img {
    display: block;
    margin-bottom: 20px;
}
@media screen and (min-width:768px) {
    .toparea {
        width: 100%;
        background: url(../images/tainanHeroPc.png);
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        position: relative;
    }
    .logoType {
        display: none;
    }
    .tainanLogo {
        position: absolute;
        top: 20%;
        left: 18%;
        text-align: center;
    }
    .tainanLogo img {
        width: 80%;
    }
    .hiroText {
        font-size: 20px;
        line-height: 1.3;
        color: #ffffff;
        width: 367px;
        height: 186px;
        position: absolute;
        right: 50px;
        bottom: 180px;
        text-align: left;
    }
    /* ハンバーガーメニュー PC */
    .navLogo {
        position: absolute;
        top: 14px;
        left: 20px;
    }
    #drawerToggle {
        display: none;
    }
    header nav {
        width: 100%;
        height: 54px;
        padding: 0 0 0 0;
        display: inline-block;
        position: absolute;
        opacity: 1;
        top: 20px;
        left: 102px;
        margin-right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        background: none;
    }
    .liMenu {
        display: none;
    }
    .liTop {
        margin: 0 0 0 0;
    }
    header nav ul {
        position: relative;
        top: 0px;
        right: 20px;
        transform: unset;
    }
    header nav ul li {
        display: inline-block;
        border-radius: 2px;
        padding: 30px 15px 0 0;
    }
    header nav ul li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        padding: 0 0 0 0;
    }
    header nav ul li:hover {
        color: pink;
    }
    header nav .navLogo {
        width: 516px;
        height: 54px;
        text-align: left;
    }
/* ハンバーガーメニュー PCここまで */

/* PCSNSlogo配置 */
header .snsLogo {
    position: absolute;
    top: 40%;
    left: 30px;
}
header .snsLogo img {
    display: block;
    margin-bottom: 20px;
}
/* PCSNSlogo配置 ここまで*/
}
@media screen and (min-width:960px) {
    .toparea {
        width: 1366px;
        height: 778px;
        background: url(../images/tainanHeroPc.png);
        background-repeat: no-repeat;
        text-align: center;
        position: relative;
    }
    .logoType {
        display: none;
    }
    .tainanLogo {
        position: absolute;
        top: 94px;
        left: 363px;
        text-align: center;
    }
    .tainanLogo img {
        width: 300px;
    }
    .hiroText {
        font-size: 20px;
        line-height: 1.3;
        color: #ffffff;
        width: 467px;
        height: 86px;
        position: absolute;
        right: 100px;
        bottom: 40px;
        text-align: left;
    }
    /* ハンバーガーメニュー PC */
    .navLogo {
        position: absolute;
        top: 14px;
        left: 20px;
    }
    #drawerToggle {
        display: none;
    }
    #globalNav {
        width: 1160px;
        height: 54px;
        padding: 0 0 0 0;
        display: inline-block;
        position: absolute;
        opacity: 1;
        top: 20px;
        left: 102px;
        margin-right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #ffffff;
        background: none;
    }
    .liMenu {
        display: none;
    }
    header nav ul {
        position: relative;
        top: 0px;
        left: 269px;
        transform: unset;
    }
    header nav ul li {
        display: inline-block;
        border-radius: 2px;
        padding: 30px 15px 0 0;
    }
    header nav ul li a {
        display: block;
        color: #ffffff;
        text-decoration: none;
        padding: 0 0 0 0;
    }
    header nav ul li:hover {
        color: pink;
    }
    header nav .navLogo {
        width: 516px;
        height: 54px;
        text-align: left;
    }
/* ハンバーガーメニュー PCここまで */

/* PCSNSlogo配置 */
header .snsLogo {
    position: absolute;
    top: 510px;
    left: 110px;
}
header .snsLogo img {
    display: block;
    margin-bottom: 20px;
}
/* PCSNSlogo配置 ここまで*/
}

/*パンくず*/
.pan {
    font-size: 16px;
    padding-top: 8px;
    margin-bottom:40px;
    border-bottom: 2px solid #000000;
}
.pan li {
    display: inline;
}
.pan li:after {
    content: '>';
    text-align: -2px;
}
.pan li:last-child:after {
    content: '';
}

/* メイン部分の縦 */
main {
    text-align: center;
}
@media screen and (min-width:768px) {
    main {
        width: 85%;
        margin: 0 auto;
        text-align: left;
    }
}@media screen and (min-width:960px) {
    main {
        width: 1200px;
        margin: 0 auto;
        text-align: left;
    }
}
/* メイン部分の縦ここまで */

/*見出し部分*/
.midashisoto,.midashisoto2 {
    width: 220px;
    height: 40px;
    margin: 0 auto 40px;
    background: url(../../images/midashiBack.png);
    background-repeat: no-repeat;
    background-size: 220px 40px;
    text-align: center;
    position: relative;
}
.midashinaka {
    width: 220px;
    position: absolute;
    top: 8px;
    text-align: center;
}
.midashiA {
        font-size: 24px;
        margin-right: 4px;
}
.midashiH {
        font-size: 12px;
}
@media screen and (min-width:768px) {
    .midashisoto {
        width: 1200px;
        height: 96px;
        margin: 0 auto 80px 20px;
        background: url(../../images/midashiBack.png);
        background-repeat: no-repeat;
        background-size: 530px 96px;
        text-align: center;
        position: relative;
    }
    .midashisoto2 {
        width: 1200px;
        height: 96px;
        margin: 20px 20px 80px 650px;
        background: url(../../images/midashiBack.png);
        background-repeat: no-repeat;
        background-size: 530px 96px;
        text-align: center;
        position: relative;
    }
    .midashinaka {
        width: 530px;
        position: absolute;
        top: 16px;
        text-align: center;
    }
    .midashiA {
            font-family: 'Zen Kaku Gothic New', sans-serif;
            font-size: 48px;
    }
    .midashiH {
            font-family: 'Zen Kaku Gothic New', sans-serif;
            font-size: 24px;
    }
}
/* 見出しここまで */

h1 {
    font-size: 32px;
    margin: 0 0 0 0;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 0 0 20px 0;
}
h3 {
    font-size: 16px;
    margin: 0 0 20px 0;
}
h4 {
    font-size: 24px;
    margin: 0 0 20px 0;
}
@media screen and (min-width:768px) {
    h1 {
        font-size: 32px;
        margin: 0 0 0 0;
    }
    h2 {
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 1em;
        margin: 0 0 20px 20px;
    }
    h3 {
        font-size: 16px;
        margin: 0 0 20px 0;
    }
    h4 {
        font-size: 36px;
        margin: 0 0 20px 104px;
    }
}

.underline,.underline2,.underline3 {
    width: 223px;
    margin: 20px auto;
    border-bottom: 1px solid #000000;
} 

@media screen and (min-width:768px) {
    .underline {
        width: 480px;
        margin: 80px auto;
    }
    .underline2 {
        width: 420px;
        margin: 0 0 20px 65px;
    }
    .underline3 {
        width: 510px;
        margin: 80px auto;
    }
}
.topicPicDiv,.topicPicDiv4 {
    width: 295px;
    height: 221px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.topicPic,.topicPic4 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.topicText {
    width: 296px;
    margin: 0 auto 20px;
    background-color: rgba(100, 201, 155,0.2);
}
.topicTextIn {
    font-size: 12px;
    padding: 8px 35px;
    text-align: justify;  
}
@media screen and (min-width:768px) {
    .pcDesign {
        margin: 0 20px 0 20px;
        display: flex;
        justify-content: space-between;
    }
    .topicPicDiv {
        width: 600px;
        height: 304px;
        margin: 0 60px 0 0;
        overflow: hidden;
    }
    .topicPic {
        width: 600px;
        height: 304px;
        object-fit: contain;
    }
    .topicPicDiv4 {
        width: 600px;
        height: 336px;
        margin: 0 60px 0 0;
        overflow: hidden;
    }
    .topicPicPc4 {
        width: 600px;
        height: 336px;
        object-fit: contain;
    }
    .topicText {
        width: 500px;
        margin: 0 0 80px;
        background-color: rgba(100, 201, 155,0.2);
    }
    .topicTextIn {
        font-size: 20px;
        line-height: 1.6;
        padding: 40px 40px;
        text-align: justify;  
    }
}
.topicTextIn2 {
    font-size: 12px;
    padding: 8px 34px;
    text-align: justify;
}
.topicTextIn3 {
    font-weight: bold;
    font-size: 12px;
    padding: 0px 36px 8px;
    text-align: center;  
}
@media screen and (min-width:768px) {
    .topicTextIn2 {
        font-size: 20px;
        padding: 38px 60px;
        text-align: justify;
    }
    .topicTextIn3 {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding-bottom: 40px;
    }
}
.semTopic {
    width: 223px;
    margin: 0 auto 20px;
    height: 80px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.topicPicMd {
    width: 335px;
    height: 133px;
    margin-bottom: 8px;
}
.topicTextIn4 {
    width: 223px;
    font-size: 12px;
    line-height: 1.6;
    padding: 8px 0px;
    text-align: justify; 
}
.topicTextIn5 {
    width: 223px;
    font-size: 12px;
    line-height: 1.6;
    padding: 8px 0px;
    text-align: justify; 
}
.topicTextIn6,.topicTextIn7 {
    width: 223px;
    font-size: 12px;
    line-height: 1.6;
    padding: 0px 0px;
    text-align: justify; 
}
@media screen and (min-width:768px) {
    .semTopic {
        width: 420px;
        margin: 0 auto 80px 60px;
        height: 216px;
        text-align: center;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }
    .topicPicMd {
        width: 510px;
        height: 220px;
        margin-bottom: 20px;
    }
    .topicTextIn4 {
        width: 420px;
        font-size: 20px;
        line-height: 1.6;
        padding: 60px 0px;
        text-align: justify; 
    }
    .topicTextIn5 {
        width: 420px;
        font-size: 20px;
        line-height: 1.6;
        padding: 0 0;
        text-align: justify; 
    }
    .topicTextIn6 {
        width: 420px;
        font-size: 20px;
        line-height: 1.6;
        padding: 0px 0px;
        text-align: justify; 
    }
    .topicTextIn7 {
        width: 620px;
        font-size: 20px;
        line-height: 1.6;
        padding: 0px 0px;
        text-align: justify;
        margin: 0 auto;
    }
}
.sirakawaTopic {
    width: 223px;
    margin: 0 auto 40px;
    height: 96px;
    text-align: justify;
}
.sirakawaTopic2 {
    width: 223px;
    margin: 0 auto 20px;
    height: 115.2px;
    text-align: justify;
}
.sirakawaTopic3 {
    width: 223px;
    margin: 0 auto 20px;
    height: 38.4px;
    text-align: justify;
}
.sirakawaTopic4 {
    width: 223px;
    margin: 0 auto 20px;
    height: 57.6px;
    text-align: justify;
}
@media screen and (min-width:768px) {
    .sirakawaSec {
        width: 1200px;
        margin: 0 auto;
    }
    .sirakawaTopicDiv {
        width: 1200px;
        height: 340px;
        margin: 0 auto 80px;
        display: flex;
        justify-content: space-between;
    }
    .sirakawaTopic {
        width: 420px;
        margin: 0 0 40px 60px;
        height: 128px;
        text-align: justify;
    }
    .sirakawaTopic2 {
        width: 420px;
        height: 192px;
        text-align: justify;
        padding: 74px 0 0 0;
        margin: 0 60px 0 0;
    }
    .sirakawaTopic3 {
        width: 1080px;
        height: 20px;
        margin: 0 auto 60px;
        text-align: center;
    }
    .sirakawaTopic4 {
        width: 420px;
        height: 96px;
        margin: 0 auto 20px;
        text-align: justify;
    }
    .sirakawAunderDivPc {
        width: 1200px;
        height: 325px;
        display: flex;
        justify-content: space-evenly;
    }
    .sirakawAunderDivPcIn {
        width: 420px;
        height: 325px;
    }
}
.subImageBox {
    width: 295;
    height: 150;
    margin: 0 auto 20px;
}
.subImageBox img {
    width: 137.5px;
}
.subImageL {
    margin: 0 20px 0 0;
}
.sirakawaHotel {
    height: 81px;
    width: 335px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: space-around;
}
.sirakawaHotel img {
    width: 157.5px;
    height: 81px;
}
.topicPic2 {
    width: 223px;
    height: 132px;
    margin: 0 0 20px 0;
}
.pickup,.pickup2,.pickup3 {
    width: 175px;
    height: 122px;
    margin: 0 0 20px 0;
}
.mainMarginBottom {
    width: 375px;
    margin-bottom: 40px;
}
@media screen and (min-width:768px) {
    .subImageBox {
        width: 600px;
        height: 167px;
        margin: 0 40px 0 0; 
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .subImageBox img {
        width: 290px;
        object-fit: cover;
        object-position: 100% 80%
    }
    .subImageL {
        margin: 0 0 0 0;
        object-position: 100% 50%
    }
    .sirakawaHotel {
        width: 1200px;
        height: 214px;
        margin: 0 0 80px 0;
        padding: 0 0;
        display: flex;
        justify-content: space-evenly;
    }
    .sirakawaHotel img {
        width: 510px;
        height: 214px;
        object-fit: cover;
    }
    .topicPic2 {
        width: 600px;
        height: 340px;
        margin: 0 60px 20px 60px;
    }
    .pickup {
        width: 175px;
        height: 122px;
        margin: 0 0 20px 0;
    }
    .pickup2 {
        width: 600px;
        height: 325px;
        margin: 0 0 0 0;
    }
    .pickup3 {
        width: 420px;
        height: 209px;
        margin: 0 0 0 0;
    }
    .mainMarginBottom {
        width: 375px;
        margin-bottom: 40px;
    }
}
    
/* フッター */
footer {
    background-color: #007AB7;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
}
footer .flag {
    margin: 0 auto;
    padding: 20px 0 10px;
}
footer .flag img {
    width: 32px;
    height: auto;
}
footer nav {
    width: 60%;
    margin: 0 auto 35px;
    text-align: left;
}
footer nav ul li {
    border-bottom: 1px solid #ffffff;
    padding: 12px 0 4px;
}
footer .icons {
    display: flex;
    width: 90%;
    margin: 0 auto 12px;
    align-items: center;
}
footer .icons .logo img {
    width: 71px;
    height: auto;
    margin-right: 16px;
}
footer .icons .sns img {
    padding-right: 16px;
}
footer p {
    border-top: 1px #03A9F4 solid;
    font-size: 10px;
    padding: 20px 0 20px;
}
@media screen and (min-width:768px) {
    .footerBase {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    footer .flag {
        height: 116px;
        width: 100%;
        margin: 0 auto;        
        padding: 40px 0 0 0;
    }
    footer .flag img {
        width: 64px;
        height: 48px;
        padding: 0 0 0 0;
    }
    .footerBase nav {
        font-size: 20px;
        margin-right: 10%;
    }
    footer .icons .logo {
        width: 256px;
        margin-right: 10%;
        align-self: flex-end;
    }
    footer .icons .logo img {
        width: 256px;
    }
    footer .icons .sns {
        display: flex;
        justify-content: space-between;
        width: 182.9px;
        margin: 0 auto;
        align-self: flex-end;
    }
    footer .icons .sns img {
        width: 32px;
        height: 32px;
        padding: 0 0;
    }
    footer p {
        font-size: 12px;
        padding: 21px 0 21px 0;
    }
}
@media screen and (min-width:960px) {
    .footerBase {
        width: 1160px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    footer .flag {
        height: 116px;
        width: 100%;
        margin: 0 auto;        
        padding: 40px 0 0 0;
    }
    footer .flag img {
        width: 64px;
        height: 48px;
        padding: 0 0 0 0;
    }
    .footerBase nav {
        font-size: 20px;
        width: 452px;
        margin-right: 120px;
    }
    footer .icons .logo {
        width: 256px;
        margin-right: 269.1px;
        align-self: flex-end;
    }
    footer .icons .logo img {
        width: 256px;
    }
    footer .icons .sns {
        display: flex;
        justify-content: space-between;
        width: 182.9px;
        margin: 0 auto;
        align-self: flex-end;
    }
    footer .icons .sns img {
        width: 32px;
        height: 32px;
        padding: 0 0;
    }
    footer p {
        font-size: 12px;
        padding: 21px 0 21px 0;
    }
}
/* ここまで */

@media screen and (min-width:960px) {
    .menuarea,.menuarea2 {
        width: 1200px;
        display: flex;
        justify-content: space-evenly;
    }
    .menu1 {
        width: 510px;
    }
}
/* モーダルCSS */
  .modalSec {
    position: relative;
  }
  .modalBefor {
    width: 223px;
    margin: 0 auto 40px;
    text-align: justify;
  }
  @media screen and (min-width:960px) {
    .modalBefor {
        width: 510px;
        margin: 0 auto 110px;
        text-align: justify;
    }
  }
  .trigger1 {
    position: absolute;
    top: -55px;
    right: 55px;
  }
  .trigger2 {
    position: absolute;
    top: 245px;
    right: 55px;
  }
  .trigger3 {
    position: absolute;
    top: 605px;
    right: 55px;
  }
  .trigger4 {
    position: absolute;
    top: 960px;
    right: 55px;
  }
  .modal {
    padding: 0 0;
    width: 375px;
  }
  .inner {
    width: min(100%, 1120px);
    margin: 0 auto;
    padding: 0 20px;
  }
  @media screen and (min-width:960px) {
  .trigger1 {
    position: absolute;
    top: -85px;
    right: 410px;
  }
  .trigger2 {
    position: absolute;
    top: -145px;
    right: -160px;
  }
  .trigger3 {
    position: absolute;
    top: 460px;
    right: 410px;
  }
  .trigger4 {
    position: absolute;
    top: 460px;
    right: -160px;
  }
  .modal {
    padding: 0 0;
    width: 375px;
  }
  .inner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0;
  }
}
  /* モーダルを開くボタン */
  .modal__trigger {
    text-align: right;
    padding: 20px;
    cursor: pointer;
    font-size: 12px;
  }
  .modal__trigger:nth-child(n + 2) {
    margin-top: 60px;
  }
  /* モーダル本体 */
  .modal__wrapper {
    display: none;
    position: fixed;
    top: 25%;
    left: 0;
    z-index: 10;
    width: 375px;
    height: 375px;
  }
  .modal__layer {
    height: 100%;
    background: #f4f4f4;
  }
  .modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .modal__inner {
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }
  /* モーダルを閉じるボタン */
  .modal__close {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
  .modal__close:hover {
    opacity: .6;
  }
  .modal__close:before,.modal__close:after {
    position: absolute;
    top: 23px;
    left: 8px;
    width: 28px;
    height: 8px;
    background: #000000;
    content: '';
  }
  .modal__close:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .modal__close:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  
  /* モーダル内のコンテンツ */
  .modal__content {
    color: #ffffff;
    margin: 0 auto;
  }
  .modal__content img {
    width: 283px;
    height: 283px;
  }
  
  @media screen and (min-width:960px) {
    .modal__trigger {
        text-align: right;
        padding: 0 0;
        cursor: pointer;
        font-size: 20px;
    }
    .modal__inner {
      position: relative;
      overflow: hidden;
    }
    /* モーダルを閉じるボタン */
    .modal__close {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }
    .modal__close:hover {
      opacity: .6;
    }
    .modal__close:before,.modal__close:after {
      position: absolute;
      top: 45px;
      left: 2px;
      width: 36px;
      height: 12px;
      background: #000000;
      content: '';
    }    
    /* モーダル本体 */
    .modal__wrapper {
        display: none;
        position: fixed;
        top: 210px;
        left: 470px;
        z-index: 10;
        width: 675px;
        height: 675px;
    }
    .modal__content img {
        width: 555px;
        height: 555px;
    }
  }
  /* モーダルCSSここまで */


.modalkari {
    width: 295px;
}